---
layout: page
title : Archive
header : Post Archive
group: navigation
---
{% include JB/setup %}

<div class="row">
  {% for currentPost in site.posts %}
      {% assign loopindex = forloop.index | modulo: 4 %}

      <div class="col-sm-12 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="box-title">
              <a href="{{ currentPost.url }}">{{ currentPost.title }}</a>
            </div>

            {% if currentPost.tagline %}
              <div class="box-tagline"><span>{{currentPost.tagline}}</span></div>
            {% endif %}
          </div>
        </div>
      </div>


    {% if loopindex == 0 %}
      <div class="clearfix"></div>
    {% endif %}

  {% endfor %}
</div>
